@font-face {
  font-family: Calibre-SemiBold;
  src: url("../fonts/Calibre-SemiBold.21cc3335.woff") format("woff"),
    url("../fonts/Calibre-SemiBold.2c27f793.ttf") format("truetype"),
    url("../fonts/Calibre-Semibold.320db03b.svg#Calibre-Semibold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Medium;
  src: url("../fonts/Calibre-Medium.bb31c6b1.woff") format("woff"),
    url("../fonts/Calibre-Medium.cb484263.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Calibre-Regular;
  src: url("../fonts/Calibre-Regular.0e30637c.woff") format("woff"),
    url("../fonts/Calibre-Regular.ad23bcd8.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* font-size: 20px; */
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-family: Calibre-Regular;
  background-color: aliceblue;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  /* background-color: aquamarine; */
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
.frontcall {
  background-color: blue;
  color: white;
  width: 150px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  font-family: Calibre-SemiBold;
  cursor: pointer;
}
.logo-con {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bar {
  display: none;
}
.logo {
  width: 60px;
  height: 60px;
  margin-top: 5px;
}
.logo-con div {
  font-weight: bold;
  font-size: 25px;
  font-family: Calibre-SemiBold;
  line-height: 0.8;
  text-transform: uppercase;
  margin-top: 10px;
  color: cornflowerblue;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links div {
  padding: 10px;
  cursor: pointer;
  margin: 1px;
}
.links div:hover {
  color: #2b6be2;
  border-bottom: solid;
}
.front {
  height: 90vh;
  width: 100%;
  /* background-color: #2b6be2; */
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  flex-direction: column;
}
.abs {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10vh;
  z-index: -999;
}
.blue {
  height: 90vh;
  width: 60%;
  background: linear-gradient(to right, #2b6be2bd, #2b6be2bd),
    url("../image/IMG-20200710-WA0037.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lightblue {
  height: 90vh;
  width: 40%;
  background-color: #2bbde2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.motto-con {
  padding: 50px;
  width: 500px;
}
.name {
  font-size: 20px;
  color: white;
  font-family: Calibre-Medium;
  margin-bottom: 40px;
}
.motto {
  font-size: 60px;
  color: white;
  font-family: Calibre-SemiBold;
  line-height: 1;
}
.firstmsg-con {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.msg {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.h1 {
  font-size: 50px;
  color: #10074b;
  font-family: Calibre-SemiBold;
  line-height: 1;
  margin-bottom: 20px;
}
.h2 {
  font-size: 40px;
  color: #10074b;
  font-family: Calibre-SemiBold;
  line-height: 1;
  margin-bottom: 20px;
}
.topic {
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.message {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.548);
}
.learnmore {
  color: #2b6be2;
  border-bottom: solid;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  width: 90px;
}
.learnmore:hover {
  padding-right: 10px;
}
.call-con {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  
}
.call {
  width: 100%;
  height: 140px;
  background-color: #2b6be2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 5px 5px 20px #2b6be2;
  
}
.screening-con {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  
}
.screening {
  width: 100%;
  height: auto;
  background-color: #2b6be2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 5px 5px 20px #2b6be2;
  
}
.screen-con {
  width: 50%;
}
.screen-h {
  font-size: 35px;
  font-family: Calibre-SemiBold;
  line-height: 1;
  margin-bottom: 10px;
  color: white;
  margin-top: 10px;
}
.screen-d {
  line-height: 1;
  margin-bottom: 10px;
  color: white;
}
.screening-imgs {
  height: 300px;
  background: url('../image/scr3.jpg');
  width: 45%;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
  /* border: solid 2px white */
}
.simg1 {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: solid 5px #2b6be2;
  margin-right: 50px;
  margin-bottom: 20px
}
.simg2 {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border: solid 5px #2b6be2;
  position: absolute;
}
.callbtn {
  background-color: #ff0062;
  padding: 15px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding-top: 20px;
  cursor: pointer;
}
.txt-h {
  font-size: 25px;
  font-family: Calibre-SemiBold;
  line-height: 1;
  margin-bottom: 10px;
  color: white;
  margin-top: 10px;
}
.txt-d {
  line-height: 1;
  margin-bottom: 10px;
  color: white;
}
.service-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("../image/circular.png");
  background-size: 600px 600px;
  background-position: -300px 0;
  background-repeat: no-repeat; */
}
.s-sub {
  text-align: center;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}
.group1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.gimg {
  width: 300px;
  height: 100%;
  background-color: aquamarine;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(128, 128, 128, 0.3);
}
.gh {
  font-size: 25px;
  font-family: Calibre-SemiBold;
  line-height: 1;
  margin-bottom: 10px;
  color: #10074b;
  margin-top: 10px;
  margin-bottom: 10px;
}
.gd {
  margin-bottom: 30px;
  width: 200px;
}
.review-con {
  width: 100%;
  height: 100%;
  background-color: rgb(228, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.line {
  width: 100px;
  height: 1px;
  background-color: gray;
  margin-top: -10px;
  margin-bottom: 30px;
}
.reviews {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.eachr {
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(128, 128, 128, 0.3);
}
.rimg {
  width: 250px;
  height: 150px;
  background-color: #ff0062;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rtxt {
  padding: 10px;
  text-align: center;
}
.rname {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 10px;
}
.social {
  margin-top: 30px;
  text-align: center;
}
.sdiv {
  display: flex;
  flex-direction: row;
}
.m {
  width: 50px;
  height: 50px;
  background-color: #ff0062;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.end {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.two {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-direction: row;
  background-color: rgb(228, 248, 248);
}
.infosub {
  display: flex;
}
.info {
  text-align: left;
  margin: 5px;
  margin-left: 30px;
}
.infoh {
  font-size: 19px;
  font-weight: bold;
  color: #ff0062;
  font-family: Calibre-SemiBold;
}
.infod {
  font-size: 17px;
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.logo-bottom {
  width: 120px;
  height: 120px;
}
.img-con {
  /* background-color: cadetblue; */
  width: 500px;
  height: 500px;
  margin-right: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-left: 50px;
}
.old1 {
  width: 300px;
  border-radius: 10px;
}
.old2 {
  position: absolute;
  width: 150px;
  /* height: 10px; */
  border-radius: 10px;
  border: solid 7px white;
  margin-top: 300px;
  margin-left: -40px;
}
.imgeone {
  background: linear-gradient(to top, #2b6be2ab, rgba(0, 0, 0, 0)),
    url("../image/aged.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.imgetwo {
  background: linear-gradient(to top, #2b6be2ab, rgba(0, 0, 0, 0)),
    url("../image/baby2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  display: none;
}
.r1 {
  background: linear-gradient(to top, #ff0062dc, #ff006252), url('../image/1.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.r2 {
  background: linear-gradient(to top, #ff0062dc, #ff006252), url('../image/2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.r3 {
  background: linear-gradient(to top, #ff0062dc, #ff006252), url('../image/kuk.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* MOBILE */
@media only screen and (max-width: 770px) {
  .show {
    display: block;
  }
  .menu {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    right: 1vh;
    top: 10vh;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.527);
  }
  .menu div {
    border-bottom: solid 1px lightgray;
    padding: px;
    cursor: pointer;
    margin-top: 5px;
  }
  .menu div:hover {
    color: #2b6be2;
    border-bottom: solid;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    /* background-color: aquamarine; */
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo-con {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bar {
    display: block;
    cursor: pointer;
  }
  .logo {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .logo-con div {
    font-weight: bold;
    font-size: 20px;
    font-family: Calibre-SemiBold;
    line-height: 0.8;
    text-transform: uppercase;
    margin-top: 10px;
    color: cornflowerblue;
  }
  .links {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links div {
    padding: 10px;
    cursor: pointer;
    margin: 1px;
  }
  .links div:hover {
    color: #2b6be2;
    border-bottom: solid;
  }
  .front {
    height: 90vh;
    width: 100%;
    /* background-color: #2b6be2; */
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
  }
  .abs {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10vh;
    z-index: -999;
  }
  .blue {
    height: 90vh;
    width: 100%;
    background: linear-gradient(to right, #2b6be2bd, #2b6be2bd),
      url("../image/IMG-20200710-WA0037.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .lightblue {
    height: 90vh;
    width: 40%;
    background-color: #2bbde2;
    display: none;
  }
  .motto-con {
    padding: 20px;
    width: 100%;
    padding-bottom: 80px;
  }
  .name {
    font-size: 20px;
    color: white;
    font-family: Calibre-Medium;
    margin-bottom: 40px;
  }
  .motto {
    font-size: 40px;
    color: white;
    font-family: Calibre-SemiBold;
    line-height: 1;
  }
  .firstmsg-con {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .msg {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .h1 {
    font-size: 30px;
    color: #10074b;
    font-family: Calibre-SemiBold;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .h2 {
    font-size: 40px;
    color: #10074b;
    font-family: Calibre-SemiBold;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
  }
  .topic {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .message {
    margin-bottom: 20px;
  }
  .learnmore {
    color: #2b6be2;
    border-bottom: solid;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    width: 90px;
  }
  .learnmore:hover {
    padding-right: 10px;
  }
  .call-con {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-top: 100px;
  }
  .call {
    width: 100%;
    height: auto;
    background-color: #2b6be2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* padding-right: 10px */
    box-shadow: 5px 5px 20px #2b6be2;
  }
  .callbtn {
    background-color: ff0062;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 12px;
    cursor: pointer;
    font-size: 12px;
  }
  .txt-h {
    font-size: 18px;
    font-family: Calibre-SemiBold;
    line-height: 1;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
    text-align: center;
  }
  .txt-d {
    line-height: 1;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 11px;
  }
  .service-con {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
    margin-top: 70px;
  }
  .s-sub {
    text-align: center;
  }
  .group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    /* text-align: center; */
  }
  .group1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    /* text-align: center; */
  }
  .gimg {
    display: none;
    width: 100px;
    height: 100%;
    background-color: aquamarine;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(128, 128, 128, 0.3);
  }
  .gh {
    font-size: 25px;
    font-family: Calibre-SemiBold;
    line-height: 1;
    margin-bottom: 10px;
    color: #10074b;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .gd {
    margin-bottom: 30px;
    width: 200px;
  }
  .review-con {
    width: 100%;
    height: auto;
    background-color: rgb(228, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    margin-top: 100px;
  }
  .line {
    width: 100px;
    height: 1px;
    background-color: gray;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  .reviews {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
  }
  .eachr {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(128, 128, 128, 0.3);
  }
  .rimg {
    width: 100%;
    height: 150px;
    /* background-color: #ff0062; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .rtxt {
    padding: 10px;
    text-align: center;
  }
  .rname {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .social {
    margin-top: 30px;
    text-align: center;
  }
  .sdiv {
    display: flex;
    flex-direction: row;
  }
  .m {
    width: 50px;
    height: 50px;
    background-color: #ff0062;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .end {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
  }
  .two {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
    background-color: rgb(228, 248, 248);
  }
  .infosub {
    display: flex;
    flex-direction: column;
  }
  .info {
    text-align: left;
    margin: 5px;
    /* margin-left: 30px; */
  }
  .infoh {
    font-size: 19px;
    font-weight: bold;
    color: #ff0062;
    font-family: Calibre-SemiBold;
  }
  .infod {
    font-size: 17px;
  }
  footer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    font-size: 10px;
    margin-left: 10px;
  }
  .logo-bottom {
    width: 120px;
    height: 120px;
  }
  .img-con {
    /* background-color: cadetblue; */
    width: 100%;
    /* height: 500px; */
    /* margin-right: 20px; */
    /* display: flex;
        justify-content: center;
        align-items: center; */
    /* padding-left: -50px; */
  }
  .old1 {
    width: 200px;
    border-radius: 10px;
  }
  .old2 {
    position: absolute;
    width: 90px;
    /* height: 10px; */
    border-radius: 10px;
    border: solid 7px white;
    margin-top: 200px;
    margin-left: -40px;
  }
  .imgeone {
    background: linear-gradient(to top, #2b6be2, rgba(0, 0, 0, 0)),
      url("../image/aged.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .imgetwo {
    background-image: url("../image/baby2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .screening-con {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-bottom: 20px; */
    
  }
  .screening {
    width: 100%;
    height: auto;
    background-color: #2b6be2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 20px #2b6be2;
    
  }
  .screen-con {
    width: 100%;
  }
  .screen-h {
    font-size: 35px;
    font-family: Calibre-SemiBold;
    line-height: 1;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
  }
  .screen-d {
    line-height: 1;
    margin-bottom: 10px;
    color: white;
  }
  .screening-imgs {
    height: 300px;
    background: url('../image/scr3.jpg');
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    padding-right: 10px;
    border-radius: 10px;
    /* border: solid 2px white */
    margin-bottom: 20px;
  }
  .simg1 {
    width: 120px;
    height: 120px;
    border-radius: 150px;
    border: solid 5px #2b6be2;
    margin-right: 50px;
    margin-bottom: 20px
  }
  .simg2 {
    width: 90px;
    height: 90px;
    border-radius: 150px;
    border: solid 5px #2b6be2;
    position: absolute;
  }
}

